html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 90%;
  max-width: 75ch;
  margin: auto;
  background-color: #181818;
  font-family: palatino;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  min-height: 50px;
  border-top: 1px solid #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.navbar {
  border-bottom: 1px solid #444;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    li {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.contact-me {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
}
.contact-me:hover {
  background-color: #666;
}
